<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>study</h1>
    <div>

        <span>
            <%= cards.front %>
        </span>


        <button type="submit">show answer</button>

        <!-- <span class='del'> Delete </span> -->
    </div>




    <form action="/todos" method="get">
        <button type="submit">Back</button>
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
    </section>
</body>

</html>